<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--数据源由Spring配置实现, 这里主要进行基础配置-->
    <!--取别名-->
    <typeAliases>
        <package name="com.entropy.pojo"/>
    </typeAliases>

    <!--注册mapper-->
    <mappers>
        <mapper class="com.entropy.dao.BookMapper"/>
    </mappers>
</configuration>